[Desktop Entry]
Encoding=UTF-8
Name=BitCore Core
Comment=Connect to the BitCore P2P Network
Comment[de]=Verbinde mit dem BitCore peer-to-peer Netzwerk
Comment[fr]=BitCore, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BitCore, eşten eşe kriptografik sanal para birimi
Exec=bitcore-qt %u
Terminal=false
Type=Application
Icon=bitcore128
MimeType=x-scheme-handler/bitcore;
Categories=Office;Finance;
