# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bitcore
host=127.0.0.1

#mainnet default
port=9469

#testnet default
#port=19469

#regtest default
#port=29469

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=98466489
genesis=000008352bd10bd9839ee23947552bf439f89156257b887e61501a24acff775c
input=/home/example/.bitcore/blocks

# testnet
#netmagic=89644698
#genesis=000000cf9c24c95589943d0d0555260eb59a4f41ca74638d29db9f4f2ff981df
#input=/home/example/.bitcore/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
